@import '../../marketplace.css';

.title {
  @apply --marketplaceH1FontStyles;
  margin-top: 0;
  margin-bottom: 60px;
}
.prodAbout{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap
}
.prodAboutCol{
  width: 45%;
}
.textHeader{
  display: block;
  font-size: 31px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 40px;
}
.textDescr{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}
.steps {
  display: flex;
  flex-direction: column;

  @media (--viewportMedium) {
    flex-direction: row;
  }
}

.step {
  @media (--viewportMedium) {
    width: 324px;
    margin-right: 40px;
  }
}

.step:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}
.subTitleText{
  margin-bottom: 90px;
}
.heroButton {
  @apply --marketplaceButtonStyles;

  animation-delay: 0.8s;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 600;

  @media (--viewportMedium) {
    display: block;
    width: 330px;
  }
}
.stepTitle {
  margin-top: 18px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}
.howImg{
  display: block;
  height: 135px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.learnMoreBtn{
  margin-top: 75px;
  text-align: center;

  @media (--viewportMedium) {
    margin-top: 52px;
  }
}
